html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}

body{
    background-color:transparent;
}

#mask{
    width:100%;
    height:100%;
    background-color:white;
    position:fixed;
    display:none;
}

.navbar-inverse .navbar-brand{
    color:white;
    font-size:28px;
}

.navbar .navbar-text{
    margin-top:35px;
}

.navbar .navbar-inner .navbar .container .row p{
    float:left;
}

#login{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index:2000;
}

#login .container{
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    width:300px;
    padding:10px;
    border-radius:10px;
}

.drink{
    background-color:white;
    border-radius:15px;
    margin-bottom:10px;
    padding:5px 10px;
}

.drink .row img{
    height:50px;
    display:block;
    margin:auto;
}

