<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Beursfuif projectie</title>
    <link href="Content/style.min.css" rel="stylesheet" />
</head>
<body ng-app="beamer">
    <div id="beamerContainer" ng-controller="BeamerCtrl">
        <h1>Beursfuif prijslijst</h1>
        <div id="beamerLogin" ng-show="showLogin">
            <label>Server adres</label>
            <input type="text" class="form-control" ng-model="ipAddress" placeholder="bv. 192.168.1.1" required="">
            <label>Poort</label>
            <input type="text" class="form-control" ng-model="port" placeholder="bv. 5678" required="">
            <button class="btn btn-primary pull-right" ng-click="vm.submit()" type="submit">Aanmelden</button>
        </div>
        <div id="beamerOverview" ng-show="showTable">
            <ul>
                <li ng-repeat="dr in drinks">
                    <div class="img" ng-style="{'background-image':'url('+vm.parseImage(dr.Base64Image)+')'}"></div>
                    <div class="text">
                        <div class="name">{{dr.Name}}</div>
                        <div class="price badge">{{dr.Price}}</div>
                  </div>
                </li>
            </ul>
        </div>
        <div ng-show="progress && showTable" id="beamerLoading" class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':progress + '%'}">
            </div>
        </div>
    </div>
    <script src="Scripts/beamer.min.js"></script>
    <script>$(function () { $(window).resize(function () { var width = $(".img").width(); $(".img").height(width); }); })</script>
</body>
</html>
