<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Beursfuif Client</title>
    <link href="Content/style.min.css" rel="stylesheet" />

</head>
<body ng-app="beursfuif">
    <div ng-view="" ng-class="view"></div>
    <script src="Scripts/beursfuif.js"></script>
    <!-- Angular Views -->
    <!-- Would rather have separate files but it can't be done-->
    <script type="text/ng-template" id="loginView">
        <!-- #region loginView-->
        <div>
            <form id="loginContainer" ng-submit="vm.submit()" ng-class="{'hide':isLoading}">
                <label>Naam</label>
                <input type="text" class="form-control" ng-model="name" placeholder="bv. Jimmy Frey" autofocus="" />
                <label>Server adres</label>
                <input type="text" class="form-control" ng-model="ipAddress" placeholder="bv. 192.168.1.1" required="">
                <label>Poort</label>
                <input type="text" class="form-control" ng-model="port" placeholder="bv. 5678" required="">
                <button class="btn btn-primary pull-right" type="submit">Aanmelden</button>
            </form>
            <div id="preloader" ng-class="{'hide':!isLoading}">
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
        </div>
     
        <!-- #endregion -->
    </script>
    <script type="text/ng-template" id="mainView">
        <div id="mainViewContainer">
            <header>
                <h1>Beursfuif Client</h1><p class="text-primary">{{intervalStart}}</p><p>{{currentTime}}</p><p class="text-primary">{{intervalEnd}}</p>
            </header>
            <div id="contentContainer">
                <div id="drinks">
                    <div class="drink" ng-repeat="dr in drinks" ng-style="{'background-image':'url('+vm.parseImage(dr.Base64Image)+')'}">
                        <p>{{dr.Name}}</p>
                        <button class="btn btn-success" ng-click="vm.addItem(dr.DrinkId, dr.Name)"><i class="glyphicon glyphicon-plus"></i></button>
                        <button class="btn btn-danger" ng-click="vm.subtractItem(dr.DrinkId)"><i class="glyphicon glyphicon-minus"></i></button>
                        <p>{{dr.Price}} bons</p>
                    </div>
                </div>
                <div id="order">
                    <h2>Huidige bestelling</h2>
                    <div class="tableContainer">
                        <table>
                            <thead>
                                <tr>
                                    <th>Drank</th>
                                    <th>Aantal</th>
                                    <th><i class="glyphicon glyphicon-plus"></i></th>
                                    <th><i class="glyphicon glyphicon-minus"></i></th>
                                    <th><i class="glyphicon glyphicon-remove"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in currentOrder">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Count}}</td>
                                    <td><button class="btn btn-success" ng-click="vm.addItem(item.DrinkId)"><i class="glyphicon glyphicon-plus"></i></button></td>
                                    <td><button class="btn btn-danger" ng-click="vm.subtractItem(item.DrinkId)"><i class="glyphicon glyphicon-minus"></i></button></td>
                                    <td><button class="btn btn-default blackAndWhite" ng-click="vm.removeItem(item.DrinkId)"><i class="glyphicon glyphicon-remove"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submitOrder">
                        <h3>Totaal: {{vm.totalOrderPrice()}} bons</h3>
                        <button class="btn btn-primary" ng-disabled="vm.totalOrderPrice() == 0" ng-click="vm.sendOrder()">Bevestigen</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <div id="modalContainer" data-bf-modal>
    </div>
    <div id="mask" data-bf-background=""></div>
</body>
</html>
