//Variables
@borderRadius: 10px;
@green: #74DB92;
@black: black;
@white: white;
@whiteGrey:rgb(250,251,252);

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: transparent;
    height: 100%;

    > div {
        height: 100%;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    .form-control {
        color: @black;
    }
}

#mask {
    width: 100%;
    height: 100%;
    background-color: fade(@black, 75%);
    position: fixed;
    top: 0px;
    display: block;
    z-index: -1;
}


#loginContainer {
    position: fixed;
    top: 25%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    background-color: @white;
    border-radius: @borderRadius;
    padding: 10px;

    * {
        margin: 5px 0px;
    }

    label {
        margin-bottom: 3px 0px;
    }
}

#mainViewContainer {
    color: white;
    width: 100%;
    height: 100%;

    header {
        position: fixed;
        top: 0px;
        z-index: 300;
        width: 100%;
        height: 50px;
        background-color: #000000;
        padding-left: 10%;

        * {
            float: left;
        }

        h1 {
            margin-top: 10px;
            margin-left: 7px;
            font-size: 2em;
        }

        p {
            margin: 20px 15px 0px 15px;
        }
    }
}

#contentContainer {
    margin: auto;
    width: 95%;
    height: 100%;
    padding: 75px 0px 25px 0px;


    #drinks {
        width: 70%;
        height: 100%;
        float: left;

        .drink {
            float: left;
            min-width: 150px;
            margin: 7px;
            min-height: 100px;
            border-radius: @borderRadius;
            position: relative;
            -moz-background-origin: content-box;
            -webkit-background-origin: content-box;
            background-origin: content-box;
            background-position: center;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;

            p {
                color: @white;
                text-align: center;
                width: 100%;
                padding: 3px 0px;
                background-color: fade(@black, 50%);
                border-radius: @borderRadius @borderRadius 0px 0px;
                margin-bottom: 5px;

                &:last-child {
                    border-radius: 0px 0px @borderRadius @borderRadius;
                    position: absolute;
                    bottom: 0px;
                    margin: 0px;
                }
            }

            .btn {
                height: 30%;
                width: 30%;
                float: left;
                margin: 0px 10%;
                outline: none;
                border: none;
            }
        }
    }

    #order {
        float: right;
        width: 30%;
        height: 100%;
        background-color: @black;
        color: @white;
        border-radius: @borderRadius;
        text-align: center;
        padding:5px;

        h2 {
            line-height: 55px;
            height: 10%;
            width: 100%;
            margin: 0 0 10px 0;
        }

        .tableContainer {
            width: 98%;
            height: 73%;
            display: block;
            margin-left: 1%;
            text-align: center;
            overflow-y: auto;

            table {
                margin: auto;

                tr {
                    th {
                        padding: 10px 7px 10px 0px;
                        text-align: center;
                        min-width: 40px;
                    }

                    button {
                        margin: 5px;
                    }
                }
            }
        }

        .submitOrder {
            height: 17%;
            width: 100%;
            position: relative;

            h3 {
                text-align: left;
                width: 90%;
                position: absolute;
                bottom: 45px;
                left: 5%;
                font-size: 25px;
            }

            button {
                width: 90%;
                position: absolute;
                bottom: 12px;
                left: 5%;
            }
        }
    }
}

@media(max-width:1060px) {
    #order {
        button {
            padding: 6px;
        }
    }
}

@media(max-width:1024px) {
    #order {
        h2 {
            font-size: 20px;
        }
    }
}



.blackAndWhite {
    color: @white;
    background-color: @black;

    &:hover {
        color: @black;
        background-color: @whiteGrey;
    }
}

//#region animations
.view .ng-enter {
    opacity: 0;
    -moz-animation: enterAnimation 10s ease;
    -o-animation: enterAnimation 10s ease;
    -webkit-animation: enterAnimation 10s ease;
    animation: enterAnimation 10s ease;
}

@keyframes enterAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes enterAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes enterAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes enterAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.view .ng-leave {
    -moz-animation: leaveAnimation 10s ease;
    -o-animation: leaveAnimation 10s ease;
    -webkit-animation: leaveAnimation 10s ease;
    animation: leaveAnimation 10s ease;
}

@keyframes leaveAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
//#endregion

//#region beamer


#beamerContainer {
    width: 100%;
    padding: 1% 20% 5% 20%;
    margin: auto;
    height: 100%;
    background-color: @black;
    color: white;

    h1 {
        font-size: 4em;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }

    #beamerLogin {
        width: 250px;
        margin: 50px auto;

        * {
            margin: 7px 0;
        }
    }

    #beamerOverview {
        height: 85%;

        ul {
            width: 90%;
            height: 100%;
            list-style-type: none;

            li {
                width: 45%;
                min-height: 60px;
                float: left;
                margin: 5px 0 0 5%;
                border: 1px solid white;
                border-radius: @borderRadius;
                /*&:nth-child(odd){
                border-color:#ffd800;
            }

            &:nth-child(even){
                border-color:#b6ff00;
            }*/
                .img {
                    float: left;
                    border-radius: @borderRadius;
                    min-height: 60px;
                    width: 25%;
                    -moz-background-origin: content-box;
                    -webkit-background-origin: content-box;
                    background-origin: content-box;
                    background-position: center;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    -webkit-background-size: cover;
                    background-size: cover;
                }

                .text {
                    float: left;
                    position: relative;
                    padding-left: 10px;
                    width: 75%;
                    min-height: 60px;

                    .name {
                        position: absolute;
                        top: 7px;
                        left: 7px;
                    }

                    .price {
                        font-size: 1.4em;
                        background-color:@white;
                        color:@black;
                        position: absolute;
                        bottom: 5px;
                        right: 7px;
                    }
                }
            }
        }
    }

    #beamerLoading {
        height: 50px;
        background-color: @white;
        clear: both;
    }
}
//#endregion

#preloader {
    position:fixed;
    margin:-25px;
    left:50%;
    top:50%;

    .spinner {
        width: 50px;
        height: 50px;
        position: relative;
        text-align: center;
        -webkit-animation: rotate 2.0s infinite linear;
        -moz-animation: rotate 2.0s infinite linear;
        -o-animation: rotate 2.0s infinite linear;
        animation: rotate 2.0s infinite linear;
    }

    .dot1, .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: @white;
        border-radius: 100%;
        -webkit-animation: bounce 2.0s infinite ease-in-out;
        -moz-animation: bounce 2.0s infinite ease-in-out;
        -o-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
        top: auto;
        bottom: 0px;
        -webkit-animation-delay: -1.0s;
        -moz-animation-delay: -1.0s;
        -o-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }


}

//Keyframe animations
@-webkit-keyframes rotate {
    100% {
        .transform(rotate(360deg));
    }
}

@keyframes rotate {
    100% {
        .transform(rotate(360deg));
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        .transform(scale(0.0));
    }

    50% {
        .transform(scale(1.0))
    }
}

@keyframes bounce {
    0%, 100% {
        .transform(scale(0.0));
    }

    50% {
        .transform(scale(1.0))
    }
}

//Mixins
.animation(@animation) {
    -moz-animation: @animation;
    -o-animation: @animation;
    -webkit-animation: @animation;
    animation: @animation;
}

.transform(@transformation) {
    -moz-transform: @transformation;
    -ms-transform: @transformation;
    -o-transform: @transformation;
    -webkit-transform: @transformation;
    transform: @transformation;
}
